<% provide(:title, 'Watch Hindi Movies, Telugu Movies, Tamil Movies, Bengali Movies and Other Indian Movies Online From Official Services') %>
<% provide(:description, 'Online Movie Streaming Guide: Find websites officially streaming latest Indian movies. Search movies by language, year, actor etc. Most complete Indian movie listings from On-Demand services on internet') %>
<% provide(:fbtitle, 'Watch Indian Movies Online From Official Streaming Services') %>

<div class="container">
    <div id="movies"><%= render 'movies' %></div>
</div>

