<% provide(:title, 'Watch Online Hindi Movies, Telegu Movies, Tamil Movies, Bengali Movies and Other Indian Movies From Official Services') %>
<% provide(:description, 'Online Movie Streaming Guide: Find websites officially streaming latest Indian movies. Search movies by language, year, actor etc. Most complete Indian movie listings from On-Demand services on internet') %>

<div class="container">
    <div id="movies"><%= render 'movies' %></div>
</div>

