$bodyBackground:    #F1F1F1;
$navbarHeight:      100px;
$navbarBackground:  #E3E3E3;
$navbarBorder:      1px solid #F0F0F0;
$dropdownBackground:  #E3E3E3;

@import "bootstrap";
@import "bootstrap-responsive";

body { padding-top: 120px; }

//
//.content-body {
//  background: none repeat scroll 0 0 #F1F1F1;
//}

//
//.navbar {
//    box-shadow: -5px 1px 8px 5px rgba(0, 0, 0, 0.06);
//    left: 0;
//    overflow: visible;
//    text-align: center;
//    top: 4px;
//    width: 100%;
//    z-index: 100;
//}
