<-- Modal -->
<div class="modal hide fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <!--<h3 id="myModalLabel">Contact Us</h3>-->
  </div>
  <div class="modal-body">

    <iframe height="577" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://moviekaka.wufoo.com/embed/z7x3p9/"><a href="http://moviekaka.wufoo.com/forms/z7x3p9/"></a></iframe>





    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div> <!-- end of modal-->
